<script src="https://cdn.jsdelivr.net/npm/@ionic/core@5.6.3/dist/ionic/ionic.js"></script>
<link href="https://cdn.jsdelivr.net/npm/@ionic/core@5.6.3/css/ionic.bundle.css" rel="stylesheet">

<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button menuToggle="menu"></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center ion-text-uppercase">
      Loja Verde</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/carrinho" style="  --background: #1c7860;">
        <ion-icon name="cart"></ion-icon>
      </ion-button>
      
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

adassdaasdasdsadasd



  <div class="buttons-container ion-padding">
    <div class="buttons-list">
      <ion-button routerLink="/boxcr7" flex="1">Box CR</ion-button>
      <ion-button routerLink="/equipamentos-adulto" flex="1">Equipamentos</ion-button>
      <ion-button routerLink="/colecoes" flex="1">Coleções</ion-button>
    </div>
  </div>

  <div style="display: flex; justify-content: center; align-items: center;" class="ion-text-center ion-padding">
    <div style="max-width: 600px;">
      <ion-card>
        <img style="max-width: 400px; max-height: 400xpx;" alt="Novidades" src="assets/imgs/camisola2024.jpeg"
          routerLink="/equipamentos-adulto" />
          <ion-card-header>
            <ion-card-title>Camisola Época 23-24</ion-card-title>
          </ion-card-header>
        <ion-card-content>
          <h3>Conhece já o novo equipamento!</h3>
        </ion-card-content>
      </ion-card>
    </div>
  </div>

  <div style="display: flex; justify-content: center; align-items: center;" class="ion-text-center ion-padding">
    <div style="max-width: 600px;">
      <ion-card>
        <img style="max-width: 400px; max-height: 400xpx;" alt="Novidades" src="assets/imgs/Novidades.png"
          routerLink="/equipamentos-adulto" />
          <ion-card-header>
            <ion-card-title>STROMP CONCEPT</ion-card-title>
          </ion-card-header>
        <ion-card-content>
          <h3>Um regresso às origens de forma diferente</h3>
        </ion-card-content>
      </ion-card>
    </div>
  </div>

  

  <div style="display: flex; justify-content: center; align-items: center;" class="ion-text-center ion-padding">
    <div style="max-width: 600px;">
      <ion-card>
        <img style="max-width: 400px; max-height: 400xpx;" alt="Novidades" src="assets/imgs/camisolavintage.jpeg"
          routerLink="/equipamentos-adulto" />
          <ion-card-header>
            <ion-card-title>Regressa ao passado</ion-card-title>
          </ion-card-header>
        <ion-card-content>
          <h3>Camisola Manuel Fernandes Limited Edition</h3>
        </ion-card-content>
      </ion-card>
    </div>
  </div>


  <div style="display: flex; justify-content: center; align-items: center;" class="ion-text-center ion-padding">
    <div style="max-width: 600px;">
      <ion-card>
        <img style="max-width: 350px; max-height: 300xpx;" routerLink="/boxcr7" alt="BoxCR" src="assets/imgs/BoxRonaldo.jpeg" />
        <ion-card-header>
          <ion-card-title>Box Edição Ronaldo</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <h3>Entregas a partir de 1 junho</h3>
        </ion-card-content>
      </ion-card>
    </div>
  </div>








  <ion-grid style="background-color: #f3f1f1a1; padding-bottom: 80px; margin-top: 30px;">
    <ion-row>
      <ion-col size="12" class="ion-text-center">
        <h3>
          <a href="https://lojaverde.sporting.pt/pt/lookbook" target="_blank" style="text-decoration: none;">
            LookBook
          </a>
        </h3>
        <h3>
          Perguntas Frequentes
        </h3>
        <h3>
          Entregas </h3>
        <h3>
          Trocas e Devoluções </h3>
        <h3>
          Contactos </h3>

        <h2 class="ion-text-center" style="font-size: 25px;">
          <a href="https://www.facebook.com/SportingClubePortugal/?locale=pt_PT" target="_blank">
            <ion-icon name="logo-facebook" style="margin-right: 15px; margin-left: 15px;  "></ion-icon>
          </a>

          <a href="https://twitter.com/Sporting_CP" target="_blank">
            <ion-icon name="logo-twitter" style="margin-right: 15px; margin-left: 15px;  "></ion-icon>
          </a>

          <a href="https://www.youtube.com/@sportingcp" target="_blank">
            <ion-icon name="logo-youtube" style="margin-right: 15px; margin-left: 15px;  "></ion-icon>
          </a>

          <a href="https://www.tiktok.com/@sporting_cp" target="_blank">
            <ion-icon name="logo-tiktok" style="margin-right: 15px; margin-left: 15px;  "></ion-icon>
          </a>

          <a href="https://www.instagram.com/sportingclubedeportugal/" target="_blank">
            <ion-icon name="logo-instagram" style="margin-right: 15px; margin-left: 15px;  "></ion-icon>
          </a>
        </h2>
        <div style="margin-left: 10px; border-top: 1px solid #ccc;">
          <h3 class="ion-text-center" style="color: #585858;">© 2023 Sporting Clube de Portugal - Todos os direitos
            reservados</h3>
        </div>
      </ion-col>

    </ion-row>
  </ion-grid>


</ion-content>