h1 {
  font-size: 30px;
  font-weight: bold;
  color: #1c7860;
  font-family: Poppins, sans-serif;

}

h2 {
  font-size: 13px;
  color: #1c7860;
  font-family: Poppins, sans-serif;

}



h3 {
  font-size: 13px;
  color: #7c7c7c;
  font-family: Poppins, sans-serif;
  font-weight: 300;
}


h4 {

  font-size: 11px;
  color: #1c7860;
  font-weight: bold;
  font-family: Poppins, sans-serif;
}


span {

  font-size: 20px;
  font-weight: bold;
  font-family: Poppins, sans-serif;
}

ion-card {


  border-radius: 6px;
  background-color: #e5e3e37f;
  box-shadow: inherit;

}


ion-card img {
  display: block;
  width: 100%;
  opacity: 90%;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);


}

ion-card-title {
  text-align: center;
  font-size: 20px;
  color: #1c7860;
  font-family: Poppins, sans-serif;
  font-weight: bold;
}

ion-card-content {
  text-align: center;
  font-size: 14px;
  color: #727272;
  font-family: Poppins, sans-serif;
  
}



.buttons-container {
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
  margin-top: 10px;



}

.buttons-container::-webkit-scrollbar {
  display: none;
}

.buttons-list {
  display: flex;
  flex-wrap: nowrap;
  

}

ion-button {
  font-size: 16px;
  font-family: Poppins, sans-serif;
  font-weight: bold;
  margin-right: 15px;
  --background: #434343;
  

}

.products-list {
  display: inline-flex;
  width: 100%;
}

.products-list::-webkit-scrollbar {
  display: none;
}
