h1 {
  font-size: 27px;
  font-weight: bold;
  color: #5e5e5e;
  font-family: Poppins, sans-serif;

}

h2 {
  font-size: 13px;
  color: #1c7860;
  font-family: Poppins, sans-serif;

}

ion-label {


  font-family: Poppins, sans-serif;
  font-weight: bold;

}

.input-with-shadow {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #95959551;
  border-radius: 5px;
  color: #1c7860 ;
  margin-top: 10px;
  margin-bottom: 10px;
}

h3 {
  font-size: 13px;
  color: #7c7c7c;
  font-family: Poppins, sans-serif;
  font-weight: 300;
}

span {
  font-size: 19px;
  font-family: Poppins, sans-serif;
  font-weight: bold;
}



ion-card {


  border-radius: 6px;
  background-color: #e5e3e37f;
  max-width: 350px;
  margin-bottom: 25px;
  box-shadow: inherit;

}

.active {
  --background: #1c7860;

}


ion-card img {
  display: block;
  width: 100%;
  opacity: 90%;
  box-shadow: inherit;

}

ion-card-title {
  text-align: center;
  font-size: 20px;
  color: #1c7860;
  font-family: Poppins, sans-serif;
  font-weight: bold;
}

ion-card-content {
  text-align: center;
  font-size: 14px;
  color: #727272;
  font-family: Poppins, sans-serif;

}



.buttons-container {
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
  margin-top: 10px;



}

.buttons-container::-webkit-scrollbar {
  display: none;
}

.buttons-list {
  display: flex;
  flex-wrap: nowrap;


}

ion-button {
  font-size: 16px;
  font-family: Poppins, sans-serif;
  font-weight: bold;
  margin-right: 15px;
  --background: #434343;

}

.proxjogos::-webkit-scrollbar {
      display: none;
    }